


<div id="header-image" class="<%= random_class %> ">
  <section class="header-box"><%= @business.name %></section><br>
</div>
<br>

<div class="wrapper show-wrapper">
  <section class="business-info">
    <!-- <p class="business"> -->

    <h3>About <%= @business.name%>: </h3>
      <%= @business.description %>
</p>
<hr>
    <p>Category: <%= @business.category.name %> </p>
    <p>Goal Funding: $<%= @business.goal %> </p>
    <p>Location: <%= @business.location %> </p>
    <p>Owner: <%= @business.user.name %> </p>

<hr>
    <div class="action-buttons">
        <%= link_to "Edit this start-up", edit_business_path(@business)%>   <%= link_to "Delete this start-up", @business, method: :delete %>
        <%= link_to "Contact owner", @business %>

    </div>

  </section>


<!-- SHOW REVIEWS -->
    <section class="comments">

<!--
Review.where(@business.id).size  -->
<div class="comment-div">
  <div class="comment">
      <h3> Reviews:</h3>
        <% @business.reviews.each do |d| %>
          <div class='star-rating' data-score=<%= @avg_rating %>></div>
        <b> Rating: </b> <%= d.rating %> <br>
        <b> Comments: </b> <%= d.comment %> <br>
        <b> By: </b> <%= d.user.name %>
         <br>
        <% end %>

        <div class="action-buttons">
          <%= link_to "Rate #{@business.name}", new_review_path %> <br>
        </div>
    <!----></div>
    </div>
<hr>

    <!-- DONATIONS -->



    <h3> Pledges:</h3>
    <br>
    <% @business.donations.each do |d| %>
    <b> Amount: </b> <%= d.amount %> <br>
    <b> Backer: </b> <%= d.user.name %>


    <br><br>
    <% end %>
        <div class="action-buttons">
        <%= link_to "Pledge a Donation", new_donation_path %><br>
        </div>
<br>
<hr>

  </section>
</div>
