<div id="header-image" class="<%=  %>">
  <section class="header-box"><%= @business.name %></section><br>
</div>
<br>

<!--
t.string "name"
t.text "description"
t.float "goal"
t.string "location"
t.string "image_url"
t.integer "user_id"
t.integer "category_id" -->
<!-- Content -->

<div class="wrapper show-wrapper">
  <section class="business-info">
    <!-- <p class="business"> -->

    <h3>About <%= @business.name%>: </h3>
      <br> <%= @business.description %>
</p>
<hr>
<p>Category: <%= @business.category.name %> </p>
<p>Goal Funding: $<%= @business.goal %> </p>
<p>Location: <%= @business.location %> </p>
<p>Owner: <%= @business.user.name %> </p>

<hr>
    <div class="action-buttons">
        <%= link_to "Update this start-up", edit_business_path(@business)%><br>
        <%= link_to "Delete this start-up", @business, method: :delete %>

    </div>

  </section>

  <!-- "reviews", force: :cascade do |t|
   t.integer "rating"
   t.text "comment"
   t.integer "user_id" -->

<!-- SHOW REVIEWS -->
  <section class="comments">
    <h3>Reviews:</h3>

<br><% @business.reviews.each do |d| %>
<b> Rating: </b> <%= d.rating %> <br>
<b> Comments: </b> <%= d.comment %> <br>
<b> By: </b> <%= d.user.name %>
<br><br>
<% end %>



        <div class="action-buttons">
          <%= link_to "Rate #{@business.name}", new_review_path%> <br>
        </div>
    <!---->
<hr>

    <!-- DONATIONS -->

    <h3>Donations:</h3>
    <h4>Total:
    </h4>
    <% @business.donations.each do |d| %>
    <b> Amount: </b> <%= d.amount %> <br>
    <b> Backer: </b> <%= d.user.name %>
    <br><br>
    <% end %>

        <div class="action-buttons">
        <%= link_to "Pledge a Donation", new_donation_path %><br>
        </div>
<br>
<hr>

  </section>
</div>
