<div id="header-image" class="<%=  %>">
  <section class="header-box"><%= @business.name %>.</section><br>
</div>
<br>

<!--
t.string "name"
t.text "description"
t.float "goal"
t.string "location"
t.string "image_url"
t.integer "user_id"
t.integer "category_id" -->
<!-- Content -->

<div class="wrapper show-wrapper">
  <section class="business-info">
    <!-- <p class="business"> -->

    <h3>About <%= @business.name%>: </h3>
      <br> <%= @business.description %>
</p>
<hr>
<p>Category: <%= @business.category.name %> </p>
<p>Goal Funding: <%= @business.goal %> </p>
<p>Location: <%= @business.location %> </p>
<p>Owner: <%= @business.user.name %> </p>

<hr>
    <div class="action-buttons">
        <%= link_to "Update this start-up", edit_business_path(@business)%><br>
        <%= link_to "Delete this start-up", @business, method: :delete %>

    </div>

  </section>



<!-- REVIEWS -->
  <section class="comments">
    <h3>Reviews:</h3>



        <div class="action-buttons">
          <%= link_to "Rate #{@business.name}", new_review_path%> <br>
        </div>
    <!---->
    <br>
<hr>

    <!-- DONATIONS -->

    <h3>Donations:</h3>
        <div class="action-buttons">
        <%= link_to "Pledge a Donation", new_donation_path %><br>
        </div>


  </section>
</div>
