<br><br>


<div class="wrapper">
<center><h1>Sign up for IndieBiz</h1><br>
  <%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: "Name" %><br>
    <%= f.text_field :email, placeholder: "Email" %><br>
    <%= f.text_area :bio, placeholder: "Describe yourself in a tweet" %><br>
    <%= f.password_field :password, placeholder: "Password" %><br>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %><br>
  <center><%= f.submit "Sign Up!!!" %>
  <% end %>

  <p> Already have an account? <%= link_to "Login", "/login"%> here

</div>
