<br><br>
<center> <h1>Welcome, <%= "#{@user.name}!" %> </h1><br>
<br><br>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin-left: 60px;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>
</head>
<body>


<div class="row">
  <div class="column">
    <div class="card">
      <h3>My Info</h3>
      <b>Name: </b><p> <%= @user.name %></p>
      <b>Email: </b><p> <%= @user.email %></p>
      <b>Bio: </b><p> <%= @user.bio %></p>

    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>My Biz</h3>
      <p>  <p><% @user.businesses.each do |d| %>
              <b>Start-up: </b> <%=  d.name %>
              <br>
              <b>Goal: </b> $<%=  d.goal %>
              <% end %>
      <p>


        </p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>My Pledges</h3>

      <p> Stuff I've Donated to </p>
      <p>My pledges </p>
      <p><% @user.donations.each do |d| %>
              <b><%=  d.business.name %>: </b> <%=  d.amount %>

            <br>
          <% end %></p>


         <br>

    </div>
  </div>

</div>

</body>
</html>
