<!-- <h1>Leave a review for @business.name %></h1> -->
<br><br><br>

<div class="wrapper">
      <p> <%= form_for @review do |f| %>
        <p> <%= f.label :business %>
        <p> <%= f.collection_select :business_id, @businesses, :id, :name %> </p>
      <p> <%= f.label :rating %>
      <%= f.number_field :rating  %> <p>
      <p> <%= f.label :comment %>
      <%= f.text_area :comment %> </p>
      <p> <%= f.label :user %>
      <p> <%= f.collection_select :user_id, @users, :id, :name %></p>
      <p> <%= f.button :submit,  :class => "btn-custom" %> </p>
      <% end %>
</div>
