<link href='https://fonts.googleapis.com/css?family=Raleway:500,900,200'
rel='stylesheet' type='text/css'>

<!DOCTYPE html>
<html>
  <head>
    <title>IndieBiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
      <header>
        <nav>
          <span id="logo-link"><%= link_to "IndieBiz", root_path %></span>

            <%= link_to "start-ups", businesses_path %>

              #user_businesses_path
              <%= link_to "my biz", user_path(@current_user) if @current_user %>

            <%= link_to "login", '/login' if !@current_user%>
            <%= link_to "logout", '/logout' if @current_user  %>
        </nav>

      </header>
    <%= yield %>
  </body>
</html>
